<h1>Welcome App component</h1>


<div class="chaXuongCon">
  <button (click)="decrement()">TRừ -(button bên cha)</button>
  <button (click)="increment()">Cộng +(button bên cha)</button>
  <app-child-cha-xuong-con [count]="Counter"></app-child-cha-xuong-con>
</div>



<div class="conLenCha">
  <div>---------------Cách 1: dùng Emit---------------</div>
  <app-child-con-len-cha (countChanged)="countChangedHandle($event)"></app-child-con-len-cha>
  <br /><br />
  Current count is (Child chuyển từ con lên cha): {{countParent}}

  <br /><br /><br /><br />
  <div>---------------Cách 2: Biến cục bộ---------------</div>
  <button (click)="child.decrement()">TRừ -1(button bên cha)</button>
  <button (click)="child.increment()">Cộng +1(button bên cha)</button>
  <app-child-con-len-cha #child></app-child-con-len-cha>
  Current count is (Child chuyển từ con lên cha): {{child.count}}

</div>


<div class="conLenCha">
  <app-test-child2 [data]="message"></app-test-child2>
</div>
<div class="conLenCha">
  <div>122: {{messageParent}}</div>
  <app-test-child (event)="receiveMessage($event)"></app-test-child>
</div>

<div class="conLenCha">
  <p>truyen bat ky component nao</p>
  <app-any-to-any></app-any-to-any>
  <app-any-to-any2></app-any-to-any2>
</div>
